body{
    background-color: rgb(200, 200, 200);
    margin-top: 10px;
}

h1,h2{
    color: white;
    background-color: rgb(0, 139, 139);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
}

h2{
    background-color: rgb(238, 63, 128);
}

p{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}